<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form method="post" th:action="@{/update}">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="id" th:value="${emp.id}"/>
    等级：<input type="text" name="lastName" th:value="${emp.lastName}" /></br>
    邮箱：<input type="text" name="email" th:value="${emp.email}" /></br>
    <!--
        th:field="${employee.gender}"可用于单选框或复选框的回显
        若单选框的value和employee.gender的值一致，则添加checked="checked"属性
    -->
    性别：<input type="radio" name="gender" th:field="${emp.gender}" value="1" />男
    <input type="radio" name="gender" th:field="${emp.gender}" value="0" />女</br>
    <input type="submit" value="修改" />
</form>
</body>
</html>